body,html {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #1b0063, #4400a8, #f400a1, #ff7300);
  background-size: 400% 400%;
  animation: gradientBG 30s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  margin: 0 0 2rem;
  font-weight: 300;
}

.player-container {
  width: 100%;
  max-width: 600px;
  margin: 0 1rem;
  position: static;
}
